<html>
<head>
<title>Weather List</title>
</head>
<body>
<div class="card my-5">
  <div class="card-body" *ngIf="weathersAbove25.length > 0">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">City name</th>
        <th scope="col">Weather</th>
        <th scope="col" >Date</th>
        <th scope="col">Max Temp</th>
      </tr>
      </thead>
      <tbody >
        <tr *ngFor="let weather of weathersAbove25">
        <td>{{ weather.id }}</td>
        <td>{{ weather.city }}</td>
        <td>{{weather.description}}</td>
        <td>{{weather.date}}</td>
        <td>{{weather.max_temperature}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="weathersAbove25.length == 0" style="text-align: center " >
    <p class=" btn-block btn-light text-info" >No day was above 25 C</p>
  </div>
</div>

</body>
</html>
