
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>

          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/weatherAll" id="ListALL"  class="btn btn-info">List weather</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/weather" id="Above25" class="btn btn-info">List weather above 25 °C</a>
            </li>
          </ul>


        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
